<div class="header-container">
  <div class="action-btns">
    <button mat-button matTooltip="Home" (click)="clearCurrentState()">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-button  matTooltip="Upload file" (click)="openDialog()" class="upload-btn">
      <mat-icon>upload_file</mat-icon>Upload file
    </button>
  </div>
  <div class="profile">
    <span class="user-name"> John Doe </span>
    <button mat-button matTooltip="Exit" (click)="onExitClick()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<!-- <div>
  <button mat-button matTooltip="Calculate">
    <mat-icon>calculate</mat-icon>
  </button>
</div> -->