<div class="dialog-container">
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <button class="close-btn" mat-button mat-dialog-close [disabled]="loading">
    <mat-icon>close</mat-icon>
  </button>

  <h2 mat-dialog-title class="title">Upload file (*.xls, *.xlsx)</h2>

  <mat-card class="mat-elevation-z5" class="xls-container">
    <div class="action"> 
      <label for="file-upload" class="custom-file-upload">
        <mat-icon>cloud_upload</mat-icon> Choose file
      </label>
      <input
        id="file-upload"
        type="file"
        name="fileUpload"
        accept=".xls, .xlsx"
        color="primary"
        (change)="onUploadFile($event)"
        [disabled]="loading"
      />

      <button
        mat-button
        matTooltip="Calculate"
        (click)="handleFileConversion()"
        class="calculate"
        [disabled]="loading"
      >
        <mat-icon>calculate</mat-icon>
      </button>
    </div>

    <span *ngIf="selectedFileName !== ''">
      {{ selectedFileName }}
    </span>
  </mat-card>
</div>
