.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block {
  border: 1px solid rgb(112, 109, 109);
  width: 180px;
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
