.result-container {
  display: flex;
}

.comtainer-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.ripple-container {
  cursor: pointer;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 2px;
  position: relative;
}

.comtainer-info {
  margin-left: 10px;
  width: 60vw;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.title {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.left {
  width: 40vw;
}

mat-button-toggle {
  width: 57px
}

.meta-data {
  z-index: 999;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  width: 180px;
}